@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display+SC:wght@400;700&family=Syne+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne Mono', monospace;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #131313;
}

a {
    color: #f1f1f1;
}

a:visited {
    color: #f1f1f1;
}

/* ---- FIRST DESIGN ----- LOADING IDEA ----- */

.first_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 5rem;
}

.first_loading_animation {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_loading_animation .circle {
    position: relative;
    width: 200px;
    height: 200px;
    margin: -60px;
    border: 4px solid transparent;
    border-radius: 50%;
    border-top: 4px solid #2fa2ff;
    animation: animate 3s linear infinite;
}

@keyframes animate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.first_loading_animation .circle::before {
    content: "";
    position: absolute;
    top: 17px;
    right: 16px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2fa2ff;
    box-shadow: 0 0 0 5px #2582cede, 0 0 0 10px #1e6aa8a2, 0 0 0 20px #1340667a, 0 0 20px #2fa2ff, 0 0 50px #2fa2ff;
}

.first_loading_animation .circle:nth-child(3) {
    position: absolute;
    top: -98px;
}

.first_loading_animation .circle:nth-child(2) {
    border-top: 4px solid #2fff2f;
}

.first_loading_animation .circle:nth-child(2)::before {
    top: 17px;
    right: 150px;
    background-color: #2fff2f;
    box-shadow: 0 0 0 5px #27d427d3, 0 0 0 10px #1b941b9d, 0 0 0 20px #115d1165, 0 0 20px #2fa2ff, 0 0 50px #2fa2ff;
}

.first_loading_animation .circle:nth-child(2) {
    animation: animate2 3s linear infinite;
}

@keyframes animate2{
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.first_loading_animation .circle:nth-child(3) {
    border-top: 4px solid #fffc2f;
}

.first_loading_animation .circle:nth-child(3)::before {
    background-color: #fffc2f;
    box-shadow: 0 0 0 5px #d4d227de, 0 0 0 10px #a09d1ea2, 0 0 0 20px #66651362, 0 0 20px #2fa2ff, 0 0 50px #2fa2ff;
}

.first_loading_animation .circle:nth-child(3) {
    animation: animate3 3s linear infinite;
}

@keyframes animate3{
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.first_button_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

.first_button {
    position: relative;
    background-color: transparent;
    color: #f1f1f1;
    font-size: 25px;
    letter-spacing: .4rem;
    font-weight: 500;
    padding: 20px 40px;
    height: 80px;
    width: 400px;
    border-radius: 30px;
    border: 2px solid #131313;
    cursor: pointer;
}

.first_button::before, .first_button::after {
    position: absolute;
    content: "";
    background-color: #2fa2ff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -9px;
    left: 8px;
    box-shadow: 0 0 0 4px #2582cede, 0 0 0 8px #1e6aa8a2, 0 0 0 15px #1340667a, 0 0 20px #2fa2ff, 0 0 50px #2fa2ff;
}

/* ---- SECOND DESIGN ----- FINGERPRINT SCAN ----- */

#second_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.scan {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scan .fingerprint {
    position: relative;
    width: 300px;
    height: 300px;
    background: url(./images/fingerprint.png);
    background-size: 300px;
}

.scan .fingerprint::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/fingerprint_blue.png);
    background-size: 300px;
    animation: animate4 4s ease-in-out infinite;
}

@keyframes animate4 {
    0%, 100% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
}

h3 {
    margin-top: 10rem;
    color: #7dbee4;
    font-size: 28px;
    letter-spacing: .2rem;
    font-weight: 500;
}

.second_button {
    position: relative;
    background-color: transparent;
    color: #f1f1f1;
    font-size: 25px;
    letter-spacing: .4rem;
    font-weight: 500;
    padding: 20px 40px;
    height: 80px;
    width: 400px;
    border-radius: 30px;
    border: 2px dashed #131313;
    cursor: pointer;
}

/* ---- THIRD DESIGN ----- FLOATING GHOST ----- */

#third_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.ghost {
    position: relative;
    width: 180px;
    height: 200px;
    background-color: #e0dfdf;
    border-radius: 80px 80px 0 0;
    cursor: pointer;
}

.face {
    position: absolute;
    width: 140px;
    top: 60px;
    left: calc(60% - 80px);
}

.eyes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 14px;
}

.eyes span {
    width: 30px;
    height: 30px;
    background-color: #131313;
    border-radius: 60px 60px 0 0;
    transition: .3s linear;
}

.ghost:hover .eyes span {
    height: 18px;
}

.mouth {
    position: absolute;
    width: 40px;
    height: 20px;
    margin-left: 45px;
    margin-top: 17px;
    background-color: #131313;
    border-radius: 0 0 20px 20px;
    transition: .3s linear;
}

.ghost:hover .mouth {
    height: 28px;
}

.hands {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 215px;
    margin-top: 20px;
    left: -20px;
    top: 80px;
}

.hands span {
    background-color: #e0dfdf;
    width: 28px;
    height: 34px;
}

.hands span:first-child {
    border-radius: 20px 0 0 20px;
}

.hands span:last-child {
    margin-left: 60px;
    border-radius: 0 20px 20px 0;
}

.feets {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-top: 185px;
}

.feets span {
    background-color: #e0dfdf;
    width: 43px;
    height: 30px;
    border-radius: 0 0 20px 20px;
}

.third_button {
    background-color: transparent;
    color: #f1f1f1;
    font-size: 25px;
    letter-spacing: .4rem;
    font-weight: 500;
    padding: 20px 40px;
    height: 3rem;
    width: 400px;
    margin-top: 8rem;
    border-radius: 30px;
    border: 2px dashed #131313;
    cursor: pointer;
}

/* -------- FOURTH SECTION --------------------- */

#fourth_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 99.2vw;
    background: url(./images/4th-section_bg.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.fourth_section_ul {
    position: relative;
    transform: skewY(-15deg);
}

.fourth_section_ul li {
    position: relative;
    list-style: none;
    width: 300px;
    color: white;
    background: #686867;
    background-color: rgba(200, 200, 200, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(9px);
    height: 4.5rem;
    padding: 20px 30px;
    z-index: var(--i);
    transition: 0.5s;
}

.fourth_section_ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #f7f6f3;
    background-color: rgba(192, 189, 189, 0.377);
    border: 0px 1px solid rgba(255, 255, 255, 0.281);
    backdrop-filter: blur(15px);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

.fourth_section_ul li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    top: -40px;
    left: -20.5px;
    background: #f7f6f3;
    background-color: rgba(200, 200, 200, 0.26);
    border: 0px 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    transform-origin: right;
    transform: skewX(45deg);
    transition: 0.5s;
}

.fourth_section_ul li:hover {
    font-size: 30px;
    transform: translateX(-50px);
}

.fourth_button_section {
    position: relative;
    margin-left: 20rem;
    width: 100px;
    height: 100px;
    color: white;
    font-size: 22px;
    background: #686867;
    background-color: rgba(200, 200, 200, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(9px);
    transform: skewY(10deg);
    cursor: pointer;
}

.fourth_button_section::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 100%;
    bottom: 19px;
    right: -43px;
    background: #686867;
    background-color: rgba(200, 200, 200, 0.288);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(9px);
    transform: skewY(-45deg);
    transition: 0.5s;
}

.fourth_button_section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 42px;
    bottom: 99.5px;
    right: -23px;
    background: #686867;
    background-color: rgba(200, 200, 200, 0.288);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(9px);
    transform: skewX(-45deg);
    transition: 0.5s;
}

.fourth_button_section:hover {
    font-size: 28px;
}

/* -------- FIFTH SECTION --------------------- */
#fifth_section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loader {
    position: relative;
    width: 300px;
    height: 300px;
}

.loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.loader span:nth-child(1) {
    background: rgba(255, 255, 255, 0.1);
    border-top: 0.25px solid rgba(255, 255, 255, 0.4);
    border-left: 0.25px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(9px);
    z-index: 2;
}

.loader span:nth-child(2) {
    position: absolute;
    background: rgb(250, 176, 219);
    animation: animate51 5s ease-in-out infinite;
}

.loader span:nth-child(3) {
    position: absolute;
    background: rgb(153, 255, 245);
    animation: animate51 5s ease-in-out infinite;
    animation-delay: -2s;
    border-radius: 0;
}

@keyframes animate51 {
    0% {
        transform: translate(-250px, 50px) scale(0.3) rotate(0deg);
        z-index: 1;
    }
    50% {
        transform: translate(250px, -50px) scale(0.3) rotate(180deg);
        z-index: 1;
    }
    50.00001% {
        transform: translate(250px, -50px) scale(0.3) rotate(180deg);
        z-index: 3;
    }
    100% {
        transform: translate(-250px, 50px) scale(0.3) rotate(360deg);
        z-index: 3;
    }
}


/* ---- SCROLL TO TOP ----- */

.scroll_to_top {
  position: fixed;
  width: 55px;
  height: 55px;
  background: transparent;
  bottom: 120px;
  right: 100px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #f1f1f1;
  font-size: 25px;
  border-radius: 30px;
  border: 1px solid #f1f1f1;
}