@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display+SC:wght@400;700&family=Syne+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne Mono', monospace;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #131313;
}

a {
    color: #f1f1f1;
}

a:visited {
    color: #f1f1f1;
}

/* ---- FIRST DESIGN ----- LOADING IDEA ----- */

.first_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 5rem;
}

.first_loading_animation {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_loading_animation .circle {
    position: relative;
    width: 200px;
    height: 200px;
    margin: -100px;
    border: 4px solid transparent;
    border-radius: 50%;
    border-top: 4px solid #2fa2ff;
    animation: animate 3s linear infinite;
}

@keyframes animate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.first_loading_animation .circle::before {
    content: "";
    position: absolute;
    top: 17px;
    right: 16px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2fa2ff;
    box-shadow: 0 0 0 5px #2582cede, 0 0 0 10px #1e6aa8a2, 0 0 0 20px #1340667a, 0 0 20px #2fa2ff, 0 0 50px #2fa2ff;
}

.first_loading_animation .circle:nth-child(3) {
    position: absolute;
    top: -98px;
}

.first_loading_animation .circle:nth-child(2) {
    border-top: 4px solid #2fff2f;
}

.first_loading_animation .circle:nth-child(2)::before {
    top: 17px;
    right: 150px;
    background-color: #2fff2f;
    box-shadow: 0 0 0 5px #27d427d3, 0 0 0 10px #1b941b9d, 0 0 0 20px #115d1165, 0 0 20px #2fa2ff, 0 0 50px #2fa2ff;
}

.first_loading_animation .circle:nth-child(2) {
    animation: animate2 3s linear infinite;
}

@keyframes animate2{
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.first_loading_animation .circle:nth-child(3) {
    border-top: 4px solid #fffc2f;
}

.first_loading_animation .circle:nth-child(3)::before {
    background-color: #fffc2f;
    box-shadow: 0 0 0 5px #d4d227de, 0 0 0 10px #a09d1ea2, 0 0 0 20px #66651362, 0 0 20px #2fa2ff, 0 0 50px #2fa2ff;
}

.first_loading_animation .circle:nth-child(3) {
    animation: animate3 3s linear infinite;
}

@keyframes animate3{
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.first_button_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

.first_button {
    position: relative;
    background-color: transparent;
    color: #f1f1f1;
    font-size: 25px;
    letter-spacing: .4rem;
    font-weight: 500;
    padding: 20px 40px;
    height: 80px;
    width: 400px;
    border-radius: 30px;
    border: 2px solid #131313;
    cursor: pointer;
}

.first_button::before, .first_button::after {
    position: absolute;
    content: "";
    background-color: #2fa2ff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -9px;
    left: 8px;
    box-shadow: 0 0 0 4px #2582cede, 0 0 0 8px #1e6aa8a2, 0 0 0 15px #1340667a, 0 0 20px #2fa2ff, 0 0 50px #2fa2ff;
}

/* ---- SECOND DESIGN ----- LOADING IDEA ----- */

#second_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.scan {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scan .fingerprint {
    position: relative;
    width: 300px;
    height: 300px;
    background: url(./images/fingerprint.png);
    background-size: 300px;
}

.scan .fingerprint::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/fingerprint_blue.png);
    background-size: 300px;
    animation: animate4 4s ease-in-out infinite;
}

@keyframes animate4 {
    0%, 100% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
}

h3 {
    margin-top: 5rem;
    color: #7dbee4;
    font-size: 28px;
    letter-spacing: .2rem;
    font-weight: 500;
}

/* ---- SCROLL TO TOP ----- */

.scroll_to_top {
  position: fixed;
  width: 55px;
  height: 55px;
  background: transparent;
  bottom: 120px;
  right: 70px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #f1f1f1;
  font-size: 25px;
  border-radius: 30px;
  border: 1px solid #f1f1f1;
}